@model List<string>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><a class="btn btn-danger" asp-controller="ListType" asp-action="DeleteFirstItem">Baştaki Datayı Sil</a></h2>

<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
    <input type="text" name="name" />
    <button type="submit"> Kayıt Et</button>
</form>

@foreach (var item in Model)
{
    <h2>@item <a asp-controller="ListType" asp-action="DeleteItem" asp-route-name="@item">sil</a>  </h2>
}

